---
const current = Astro.url.pathname
const navItems = [
  { title: 'Inicio', href: '/' },
  { title: 'Proyectos', href: '#proyectos' },
  { title: 'Habilidades', href: '#habilidades' },
  { title: 'Contacto', href: '#contacto' }
]
---

<header
  class="sticky top-0 z-50 bg-white/90 backdrop-blur-sm shadow-md transition-all duration-300 dark:bg-gray-900/90 dark:shadow-gray-700"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <nav aria-label="Navegación principal" class="flex items-center justify-between h-16">
      <a
        href="/"
        class="text-2xl font-bold text-cyan-600 hover:text-cyan-700 transition duration-150 tracking-wide"
      >
        zorrilladev
      </a>

      <div class="hidden md:flex space-x-6">
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class={`${
                current === item.href ? 'text-cyan-600 font-extrabold' : 'text-gray-600'
              } hover:text-cyan-300 font-medium transition duration-150 tracking-wider text-sm uppercase`}
            >
              {item.title}
            </a>
          ))
        }
      </div>

      <a
        href="#contacto"
        class="hidden md:block bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded-lg text-sm shadow-md transition duration-300 transform hover:scale-105"
      >
        Contratar
      </a>
    </nav>
  </div>
</header>
